.status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin: 10px 0;
    border-radius: 0.25rem;
    font-size: 1.275rem;
    font-weight: 800;
    font-style: italic;
    color: var(--FONT-COLOR-BASIC);
    font-family: var(--FONT-STYLE-BODY);
    width:inherit;
    text-align: center;
    text-wrap: wrap;
    overflow-wrap:anywhere;
    animation: ShowDetails 0.5s ease-in-out;
}

.failure {
    background-color: #821408;
}

.success {
    background-color: #0A4D1B;
}

@keyframes ShowDetails {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.96);
    }

    50% {
        opacity: 0.5;
        transform: translateY(5px) scale(0.98);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
