

.add-review {
    padding: 4rem 8%;
    background: var(--BG-COLOR-TERTIARY);
    max-width: 700px;
    margin: 0 auto;
    border-radius: 16px;
}

.add-review-header {
    text-align: center;
    margin-bottom: 2rem;
}

.add-review-header h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #111827;
}

.add-review-header p {
    font-size: 1.25rem;
    color: var(--FONT-COLOR-BODY);
    line-height: 1.8;
    font-family: var(--FONT-STYLE-BODY);
    font-weight: 400;
}
