

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 8%;
    background: var(--BG-COLOR-SECONDARY);
    font-family: var(--FONT-STYLE-BODY, 'Segoe UI', sans-serif);
}

.auth-card {
    background: #fff;
    padding: 2rem;
    width: 450px;
    max-width: 1200px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: center;
}

.auth-card h2 {
    margin-bottom: 0.5rem;
}

.auth-subtext {
    font-size: 0.9rem;
    color: var(--FONT-COLOR-BODY);
    margin-bottom: 1.5rem;
}

/*.form-group {
    text-align: left;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 0.85rem;
    color: #444;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}*/

.form-group input:focus {
    border-color: #007bff;
}

.auth-btn {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border: none;

    color: var(--FONT-COLOR-BASIC);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    background: var(--BG-COLOR-BTN-SUCCESS);
}

.auth-btn:hover {
    background: var(--BG-COLOR-BTN-SUCCESS-HOVER);
}

.auth-footer {
    margin-top: 1rem;
    font-size: 0.85rem;
}

.auth-footer a {
    color: var(--BG-COLOR-BTN-SUCCESS);
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
    color: var(--BG-COLOR-BTN-SUCCESS-HOVER);
}
