
.product-carousel {
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
    position: relative;
    margin-bottom: 1rem;
}

.product-slides-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

    .product-slides-container::-webkit-scrollbar {
        display: none;
    }

.product-card-slide {
    /*    min-width: 100%;*/
    display: flex;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: start;
    user-select: none;
    flex: 0 0 100%;
    justify-content: center;
}

.product-card-slide img {
    width: 100%;
    max-width: 250px;
    /*    height: 100%;*/
    object-fit: cover;
    display: block;
    pointer-events: none;
    height: auto;
    /*    aspect-ratio: 16/9;*/
}
