.auth-popup {
    text-align: center;
}

.auth-popup p{
    font-family: var(--FONT-STYLE-BODY);
    color: var(--FONT-COLOR-SECONDARY);
    font-size: 1rem;
    font-weight: 800;
}

.popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-login {
    background: #2563eb;
    color: var(--FONT-COLOR-BASIC);
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-family: var(--FONT-STYLE-BODY);
    font-weight: 800;
    cursor: pointer;
}

.btn-close {
    background: #e5e7eb;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-family: var(--FONT-STYLE-BODY);
    font-weight: 800;
    cursor: pointer;
}

.btn-login:hover,
.btn-close:hover{
    opacity: 0.7;
}
